{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Scrumtools: Burnup" %}{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'burnup/style.css' %}" type="text/css">
    <script src="{% static 'burnup/Chart.bundle.min.js' %}" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"
            type="application/javascript"></script>
    <script src="{% static 'burnup/burnup.js' %}" type="application/javascript"></script>
{% endblock %}

{% block extra_body %}


    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% else %}

        <div class="container">
            <canvas id="canvas"></canvas>
        </div>

        <script>
            real = {{ real }};
            empty_values = [];
            for (i = 0; i < real.length;
                 i++
            ) {
                if (i != real.length - 1)
                    empty_values.push(null)
                else
                    empty_values.push(real[real.length - 1])
            }
            average =
                empty_values.concat({{ average }})
            best =
                empty_values.concat({{ best }})
            worst =
                empty_values.concat({{ worst }})

            labels = []
            for (i = 1; i < best.length; i++) {
                labels.push("Sprint " + i)
            }
            load_chart(labels, real, average, worst, best)


        </script>

    {% endif %}

    <form> {% csrf_token %}
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <p>Velocities:</p>

                            <input type="text" class="form-control" id="velocities" placeholder="12,9,15,17,13" required
                                   pattern="^[\d,\s]+$"
                                   name="velocities" aria-describedby="velocitieshelp" {% if original_values %}
                                   value="{{ original_values }}" {% endif %}>
                            <small id="velocitieshelp" class="form-text text-muted"> Enter velocities values separated
                                by a comma.</small>

                            <p>Scope:</p>

                            <input type="text" class="form-control" id="scope" placeholder="150 or 50,50,100,200"
                                   pattern="^[\d,\s]+$"
                                   name="scope" aria-describedby="scopeshelp" {% if scope %}
                                   value="{{ scope }}" {% endif %}>
                            <small id="scopeshelp" class="form-text text-muted"> Enter scope values.</small>
                        </div>
                        <p>Please select the method :</p>
                        <div class="form-check">

                            <input class="form-check-input" type="radio" id="XBESTWORST" name="method" value="1"
                                   checked="checked">
                            <label for="XBESTWORST" class="form-check-label">Average of the 3 best or worse value over
                                the
                                last
                                6
                                sprints </label><br>
                            <input class="form-check-input" type="radio" id="STANDARDDEV" name="method" value="2">
                            <label for="STANDARDDEV" class="form-check-label">Standard deviation from the last 6
                                sprint</label><br>
                        </div>
                        <br>
                        <button type="submit" formmethod="get" class="btn btn-primary float-right"
                                style="min-width: 100px">
                            OK
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        {% if ext_scope %}
            set_scope({{ ext_scope }})
        {% endif %}

        const method = urlParams.get('method')
        if (method != null)
            if (method == 1)
                document.getElementById('XBESTWORST').checked = true
            else if (method == 2)
                document.getElementById('STANDARDDEV').checked = true

    </script>

{% endblock %}